<p>It’s all in the timing.<br>
You have to keep the game in play as long as possible.<br>
Gauge your investments—coin gets eaten fast.</p>
 
<p>Most times, what you see is what you get.<br>
Unless you’re hiding under a glass dome like I used to do.<br>
I’d let them tilt me too low, bump me too hard.</p>

<p>Then I learned to trap them—became an expert<br> 
at manipulating steel balls, holding them in place<br>
using my brain, not my hips.</p>
 
<p>So they would nudge harder and get locked out.<br>
I scored my way into multiple replays.<br> 
Balls piled up in the drain.</p>
 
<p>Now I’m relaxing, resting my sharpened flippers.<br>
Anticipating my next visit to the arcade.</p>