I like my verse clean and the sonnet a little dirty
like the beloved to whom it is usually dedicated.
After that I can take up social issues and spring
emotions into them like a faucet in the park one
time I spent a whole night in. I had nowhere to go,
Gloria's mom said that I couldn't sleep with Gloria
and nobody else was home except the drunks in
the park, and the junkies, and other underclasses.
We didn't have minorities then and justice was not
available to the bereft. Now it's another story 
I can retweet until the world straightens out
though in my stream of liqueured-up tarts and ex-fumeurs
we’ll never be sharp enough again to see it as fine as it once felt

<h3>rise of the north (again)</h3>
<p class="pre">
people get crazier and shabbier the farther south you go
it used to be a draw
not-s-much-now     drinking helped &amp; some sense of abandon
perhaps      replaced by a sense of self-worth   perhaps
the sober gods in charge again jupiter and hera  le beau monde
pan off in his cave bat-cranky
scratchy hoof eyes rheumy</p>
