
<p class="indent"><em>For Lewis Warsh</em></p>
<p>
  He calls me into his office, gives m<br>
  a copy of <em>The Origin of the World</em> and<br>
  <em>Our Friends Will Pass Among You Silently</em>.
</p>
<p>
  I stare at his bookshelves, half-listening.<br>
  He smiles and I recognize it’s possible to<br>
  dream without sleeping. This must be how<br>
  a tiger feels when it becomes aware of its stripes.
</p>
<p>
  On paper, growls are fragments, each stanza<br>
  a grain of dust in an hourglass. His gray sweater<br>
  includes threads of second generation<br>
  St. Mark’s Poetry Project Wednesday readings.
</p>
<p>
  “Take my long poem workshop and read<br>
  the archived letters of New York School poets<br>
  at Fales Library. I’ll grant you access.”
</p>
<p>
  The pen hums. Outside, Washington Square radiates<br>
  with skateboards and dancing lights at dusk.<br>
  One day, I’ll give these moments names, place them<br>
  in a Mason jar, and they will be inseparable.
</p>
