<p>The house on the corner leans to the left.<br>
The house on the corner is made out of straw.<br>
The house on the corner contains empty rooms.<br>
The house on the corner has shingles shaped like feet.<br>
The house on the corner has trapezoid walls.<br>
The house on the corner is still alive.<br>
The house on the corner has closets full of bones.<br>
The house on the corner was once a machine that could count.<br>
The house on the corner has no address.<br> 
The house on the corner is repeated until it reaches the horizon.<br>
The house on the corner is upside down.<br>
The house on the corner is filled with dark songs.<br>
The house on the corner contains a madman.<br>
The house on the corner is no longer filled with words.</p>

<article class="poem">
  <h3>COLLABORATION #52</h3>
  <p>Love is not a fruit, is not a fish,<br>is not a hand full of water. Love can be fluid or dry or bloody.<br> It can be called by many names.<br> It can be written in granite<br> or the vanishing sand of the beach.<br> Love is the rocks, is the fin of the whale,<br> is the machine that measures the passing time,<br> which is heard as the clock’s hand sweeps across each hour.<br> Sometimes love rushes by more quickly than time itself<br> as we get swept up in lust’s undertow.<br> Love is not a jar of jam, nor the description of a magnet,<br> nor the page you just read in the book of love<br>that remains too difficult to understand.</p>
</article>
<article class="poem">
  <h3>COLLABORATION #59</h3>
  <p>the question could be constructed in many different ways<br> 
  but <em>who, what, where</em>, and <em>why</em> were not included<br>
  nor was the color <em>red</em>, even though it was hard to exclude<br>
  making us think of rubies and roses<br>
  it was the only question we had ever had<br>
  and no one really knew the answer<br>
  at least not until the words were rearranged<br>
  in a coded anagram that only some could decipher<br>
  that seemed to cast no shadows<br>
  and didn’t cause the wind to blow<br>
  and would never be able to be asked again<br>
  because no one even remembered the question<br>
  once they thought too long about it<br>
  and forgetting seemed like the only answer
  </p>
</article>