<p class="indent"><em>for Marlin Perkins</em></p>

<p>
  Herds of vacuum cleaners romeo the West<br>
  Teeming with self-correcting red ants, the coffee maker<br>
  spouts Chinese<br>
  Pundits confronted by the obsity of dogs & cats<br>
  Willows weep fresh criteria
</p>

<p>
  Preoccupied, distracted<br>
  Over 7000 doctors have trusted their eyes<br>
  Occupied, busy<br>
  The Internal assaults the External with a hefty tome,<br>
  title withheld
</p>

<p>
  From launch pad to lunch box<br>
  the fingernail sandwiches compose themselves<br>
  Under a legal cloud<br>
  Huperpartisanship drops anchor
</p>

<p>
  Pets tall bulldogs with a single to the right<br>
  Sidesteps speeding Ubers<br>
  Flawlessly maintained<br>
  Now & then a moose would leap the fence & gallop off<br>
  into the mist
</p>