<p>
  I’m sorry. Please accept my humblest apologies.<br>
  I’m here to say you can’t escape the fact<br>
  conception births belief,<br>
  creates the word,<br>
  creates the world,<br>
  can only hope it shields your ass,<br>
  perceives beyond your eyes.
</p><p>
  But hope, like all it dictates dies,<br>
  the sooner  gone, the closer to our nature,<br>
  permission then to walk away, to die alone,<br>
  to leave our doppelgangers in our dust,<br>
  to turn away and rise above this vaguely proffered earth,<br>
  which something perfect bore,<br>
  where childish lies of immortality then grew.
</p>

<h3>Bhaktapur</h3>
<p>
  A temple bell<br>
  praises dying sun,<br>
  cool breeze,<br>
  birds,<br>
  clouds,<br>
  barefoot boy on roof’s edge,<br>
  tugging a current against his kite,<br>
  persistent balance,<br>
  has just to approach the wind,<br>
  a will of its own,<br>
  where birds are.
</p>

<h3>Questionnaire</h3>
<p>
  Which is better — cake or cookies?<br>
  Would you rather swim in the sea or an indoor pool?<br>
  How do you like your cheese — soft or firm?<br>
  Do you take your coffee black, with milk or cream?<br>
  How do you rate your lovers — brains or beauty?<br>
  Where would you rather be — in bed or the beach?<br>
  What is the better way — love or duty?<br>
  Who would you rather kiss — liar or snake?<br>
  How to murder a tyrant — blow torch or poison?<br>
  Who do you ask for help — God or the bank?<br>
  Where do you go for love — Heaven or Hell?<br>
  How would you rather die — in rage or despair?<br>
  What is your favorite drug — love or pain?<br>
  How did you lose your faith — in love or defeat?<br>
  How might you gain it back — in victory or love?<br>
  Who do you know the best — enemy or friend?<br>
  How would you cast your legacy — in thought or love?<br>
  When do you know the point — at birth or death?<br>
  How can you find your way — by heart or mind?
</p>

<h3>Avian Love Song</h3>
<p>
  His echo,<br>
  stone gray and flanked<br>
  by trees fastened to the ground,<br>
  cemented in their small brown squares,<br>
  wild roots below,<br>
  hidden,<br>
  an undiscovered text.<br>
  He waits.
</p>
 
<p>
  Her answer, plaintive,<br>
  soft and foreign,<br>
  not the one he hoped,<br>
  the jeweled clarion,<br>
  others,<br>
  but not the one,<br>
  the lyric withered,<br>
  music weakened,<br>
  went.
</p><p>
  Here, <em>here</em>, he sings.<br>
  Here, <em>here</em>. Here, <em>here</em>. Here, <em>here</em>.”
</p><p>
  Then her distant,<br>
  <em>Come, come. Come, come.</em>
</p><p>
  Yes, yes, yes.</p><p>
  Her increase,<br>
  nearer,<br>
  their ancient chorus:<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  <em>Yes, yes, yes</em>.<br>
  Two rivers rushing,<br>
  confluent,<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  <em>Yes, yes, yes.<br>
  Come away
  </em>.
</p>

