<p>
  His echo,<br>
  stone gray and flanked<br>
  by trees fastened to the ground,<br>
  cemented in their small brown squares,<br>
  wild roots below,<br>
  hidden,<br>
  an undiscovered text.<br>
  He waits.
</p>
 
<p>
  Her answer, plaintive,<br>
  soft and foreign,<br>
  not the one he hoped,<br>
  the jeweled clarion,<br>
  others,<br>
  but not the one,<br>
  the lyric withered,<br>
  music weakened,<br>
  went.
</p><p>
  Here, <em>here</em>, he sings.<br>
  Here, <em>here</em>. Here, <em>here</em>. Here, <em>here</em>.”
</p><p>
  Then her distant,<br>
  <em>Come, come. Come, come.</em>
</p><p>
  Yes, yes, yes.</p><p>
  Her increase,<br>
  nearer,<br>
  their ancient chorus:<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  <em>Yes, yes, yes</em>.<br>
  Two rivers rushing,<br>
  confluent,<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  Here, <em>here</em>.<br>
  <em>Yes, yes, yes.<br>
  Come away
  </em>.
</p>

