<p>
  Ethereal music formed on the edge of calm<br>
  Jumped electronic gym dandy<br>
  Morning coffee fog<br>
  Grey, slow-limbed<br>
  Slingshot birds disintegrate<br>
  Tornadoes grind through towns
</p>

<p>
  Musical interlude<br>
  Subject to subjectivity<br>
  Love and mud inside<br>
  Cut me some slack
</p>

<p>I danced for you.

</p>
<h3>Lovers in Black</h3>
<p class="indent"><em>After Marc Chagall</em></p>

<p>
  Compare us to the couple kissing<br>
  in Chagall’s India-ink drawing.
</p><p>
  She bears down on him ghoulish and proud, dark-eyed.<br>
  He hesitates.
</p><p>
  Chagall’s postcard adorns my cabinet.<br>
  You and me—our dark theatrical days.
</p><p>
  Chassidic souls brimming with song. Russian nights,<br>
  Belted drinks.  On the roof you parted
</p><p>
  my legs beyond the frum family’s barbeque<br>
  Jostling love and fecklessness.
</p><p>
  Chagall’s young man turns into a beast.<br>
  Their lips brush. He clutches fire.
</p><p>
  She fits like a card in his pocket<br>
  Love and art—such fruitful madness — how do they endure?</p>
<p>
  Flying cows and chortling roosters, kisses that miss the mark<br>
  Victory obtained in black. Plush. Obscure.
</p>
