      <footer class="site-footer">  
        <div class="footer-nav">
          <header>
            <h3><a href="http://livemag.org">LiVE MAG! Home</a></h3>
            <div class="social">
              <a href="https://twitter.com/LiveMagNYC/">
                <img src="../../images/twitter.svg" alt="twitter icon"></a>
              <a href="https://www.facebook.com/livemag.org/"><img src="../../images/facebook.svg" alt="facebook icon"></a>
            </div>
            <div class="subscribe"><a href="../../subscribe">Join today!</a></div>   
          </header>
          <nav>
              <ul>
                <li><a href="../../about.html">About</a></li>
                <li><a href="http://reviews.livemag.org">Reviews</a></li>
                <li><a href="../../issues.html">Issues</a></li>
                <li><a href="../../videos.html">Videos</a></li>
                <li><a href="../../contact.html">Contact</a></li> 
              </ul>
            </nav>
        </div><!-- end footer-nav -->
        <div class="copy">
          <h5>&copy; 20{{ site.time | date: '%y' }} LiVE Mag! contributors. All rights reserved. Editor: Jeffrey Cyphers Wright</h5>
        </div>
      </footer>
    