      <footer class="site-footer">  
        <div class="footer-nav">
          <h3><a href="../index.html">Issue 14 2017</a></h3>
          <nav>
              <ul>
                <li><a href="../../about.html">About</a></li>
                <li><a href="http://reviews.livemag.org">Reviews</a></li>
                <li><a href="../../issues.html">Issues</a></li>
                <li><a href="../../videos.html">Videos</a></li>
                <li><a href="../../contact.html">Contact</a></li> 
              </ul>
            </nav>
        </div><!-- end footer-nav -->
        <div class="copy">
          <h5>&copy; 20{{ site.time | date: '%y' }} LiVE Mag! contributors. All rights reserved. Editor: Jeffrey Cyphers Wright</h5>
        </div>
      </footer>
    