<section class="poem">
  <h2 class="title">Civ Dis</h2>

<p>Watch you don’t step</p>
<p class="indent">on my shine, punk</p>
Between my elbows
<p class="indent">and my glasses</p>
<p>is No-Fly</p>
<p>Between my fly</p>
<p class="indent">and my thigh</p>
<p>is outer-space capsule</p>
<p>You just be quiet to we</p>
<p></p>
<p>Hanging ’ffense, mon cul</p>
<p></p>
<p>To all non-binary guerilla cadres:</p>
<p class="indent">His gender mind’s</p>
<p class="indent">a scant two inches</p>
<p>To all multi-maroon intransigent cliques:</p>
<p class="indent">His color lacks obedience</p>
<p>To all fernhead body-downs:</p>
<p class="indent">Lay them down</p>
<p class="indent">on denialers’ werewolf</p>
<p>Ain’t no living wage</p> 
<p class="indent">in Armor Garden</p>
<p>Ironic camouflage is our exposition</p>
<p>Subvertationist catwalk knows time</p>

Observe without you hide
Change mode of muck wash

Can’t predict change
So change like it’s yours to do
Them who back walk
don’t see the curtain drops
Don’t see the separated 
  baby head ain’t Martian

Them who back walk:
Stay in their way
