<p>Boys who like me<br>Boys who don’t<br>Boys with face tattoos, boys who like magic tricks<br>Boys who like beer boys who use blushing emojis<br>unironically, boys with beards boys with mustaches boys who don’t like girls who<br>like dogs boys who only like girls with dogs boys who play the trumpet boys who think I’m<br>gorgeboyswho want to know where I’m from boys who never get answers boys who think I’m<br>boys who want help singing Fergalicious boys who were called Tony Soprano in jail boys who<br>want adventure boys who think I work at The Met boys who want to talk about art while I am in<br>my PJs on the couch shoving potato chips into my face, rugby-playing boys Irish boys who like<br>my hair lonely banjo boys accordion boys boys I knew in high school boys I used to love boys<br>who want “crazy ladies” disney fan boys boys I sometimes see at starbucks who smile at me<br>and I smile back.</p>

<article class="poem">
  <h3>Please Hold</h3>
  <p>I wonder if the man answering the phone is tired<br> 
of me. That’s why he sighs when I ask, in my most<br> 
professional lilt, to be transferred. Two weeks in<br> 
and still no return call. Has he detected, by now,<br> 
the crevice in my voice?<br>  
There were a few years when I would sit in my front yard<br> 
with goggles and a small hammer, crack open rocks<br> 
with a child’s instinct for finding split points. One good whack<br>
and the quartz came spewing out like precious venom. Everything<br>
has its fault, its richness, and I want so badly<br>  
to be kind. You can hear it. Sizzling<br>  
like peroxide in a cut. You can hear it<br> 
in an office somewhere in the city, where the phone<br> 
is ringing and ringing and I have almost forgotten<br> 
the smell of hot earth and what it’s like<br> 
to get everything you want<br>
with a single swing. </p>
</article>