        <header class="site-header">
          <div class="logo">
            <h1><a href="https://www.livemag.org">LiVE<br>Mag!</a></h1>
          </div> 
          <a id="menu" class="header__menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 20 20">
              <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
            </svg>
          </a> 
          <div class="tagline">
            <h3><em>art and poetry journal &middot; 2022</em></h3>
          </div>
          <div class="subscribe"><a href="https://store.livemag.org">Mags! &clubs; Merch!</a></div>    
        </header>