<p>
  Late. Eyes look up. I want to explain<br>
  tardiness, the problem with the E train.<br>
  I want to explain the December light.<br>
  I want them to see. Eyes look up<br>
  and to the side. A head turns, glances<br>
  sideways or diagonal, an Isosceles<br>
  triangle, or elongated rectangle.
</p><p>
  My tardiness means nothing. Light<br>
  of December afternoon shines through<br>
  windows at top of room, above our<br>
  heads. Talk of numbers, projections<br>
  to future, a circular arc to Christmas<br>
  plans and we say, “hi” and “bye”—<br>
  a colleague grabs my arm, two or<br>
  three times, suggests we take the train<br>
  together. We’re on the 6 to 28th Street<br>
  then above ground in a shop of Indian<br>
  spices and copper dishes, grains, and incense.
</p><p>
  Outdoors the avenues cast rays of winter light.
</p><p>
  I hike up 22nd from Park, each avenue<br>
  a new shade of sun glares through haze<br>
  with gossip of marriage and families,<br>
  the light is silver, the leaves, some still<br>
  golden, people between lunch and their<br>
  afternoon coffee, knowing the linear<br>
  trajectory in golden and silver,<br>
  the brisk air and curve of tires,<br>
  an opalescence, knowing<br>
  I am here.
</p><p>
  Three p.m. light of children’s squeals,<br>
  the haunting call of swing set<br>
  and car horn ripples the air,<br>
  crackle of back door squirrel<br>
  and light on floorboards.
</p><p>
  Out back the Saturday night Christmas<br>
  tree stands on the wall, bought after drinks<br>
  and a comedy show on 23rd Street, after kissing<br>
  outside the Comedy Club, how you ran off like<br>
  an Iron Hans or a Cinderella; I bought that tree<br>
  afterwards on 8th Avenue, out of giddiness,<br>
  to remember you.
</p>