<p class="pre">
                                                    My PYRAMID
I built the Pyramids
Stone by stone
Brick by brick
I scorch the sand
With thoughts Of
The hear after

                                                    Tradition
If I sit
In the same chair
You sat in
That’s tradition

                                                    His X
His X never said
He could use her name
To mark the spot

                                                    9
9+9=18
18+18=36
36+36=72
9+72=81
Once I was 81
Not no more

                                                    Intransient
He was intransient
Until
He found
Out
What
The word meant

                                                    Mobilize
Mobilize
Mobilize
Mobilize
The Greeks
Are coming

                                                    No Title
OH, childhood
Find your nipples
And ride the high tide
Of growth

Of secular
Petals
There are
Blossoms

                                                    Travel Guide
Never go to
Dublin
London
Paris
Madrid
Or
Rome
by yourself

                                                    Male Talk
Header & footer
He’s a beauty
</p>