<p>John Ashbery read<br>
At Poets House.</p>
 
<p>He read downstairs<br>
Surrounded by a hushed<br>
And adoring crowd.</p>
 
<p>He was comfortably seated<br>
In a movable chair and<br>
After reading his poetry<br>
He stayed in that fixture<br>
As he was helped out of the room<br>
And up to the second floor<br>
Where the bulk of the library is<br>
And where wine<br>
Was being served.</p>
 
<p>It seemed as if the entire crowd<br>
Of well-wishers was pitching in<br>
To raise him up<br>
With their collective will<br>
So that he appeared to float<br>
Above us all.</p>
 
<p>He would eventually rise<br>
All the way up<br>
To Frank O’hara’s Heaven.</p>
 
<p>But not yet,<br>
Not yet.</p>


<h3>Love Songs</h3>
 
<p>I know a lovely lady<br>
With a generous heart&mdash;<br>
Together we read<br>
Leonard Cohen’s poems.</p>
 
<p>“Turn off the lights<br>
And lower the shade,”<br>
She laughs,<br>
“This bed’s about to sail!”</p>
 
<p>I fire up my laptop<br>
Filling the room with music.</p>