<p>Unattributed feelings sprout<br>
yes, you know it well, how they<br>
shout<br>
these shopworn hooks<br>
(midnight in the laundromat)<br>
and the looks you sometimes get,<br>
although the projectionist<br>
wants science fiction<br>
we get neanderthal president.</p> 

<p>My beef with body doubles<br>
how they resent direction<br>
you know they want the lead:<br>
I mourn surface tension<br>
its sloppy assault on the senses.</p> 

<p>Put this in parentheses<br>
that all my words<br>
those baby devils<br>
part like daffodils<br>
at the first sign of attention<br>
and then for all their sexy nonchalance<br>
act so untoward.</p>

<h3>THE ST. LOUIS OF BEING</h3>

<p>Night was a beautiful television.<br>  
We were only recently home, or even interested.<br> 
On the roof of Christmas some prankster asks,<br>
"Well, do you?"</p>

<p>Our frustration answered for us.</p>

<p>Whatsa suitable activity for retirees<br>
 on the make and so easily<br>
 attenuated? &nbsp;   Get the most of these</p> 

<p>features, it says, bowling for pierogis.</p> 

<p>I would like to fabulously float, ensconced in<br> 
  electricity like a single naked bulb.</p>  

<p>[Meanwhile: holidays w/octagonal forebears.]</p> 





<h3>DEALER</h3>
<p>My eyes sprout 1,000 buds at the sight of you<br>
as you burst into flame and look like a frightened doe<br>
there in the middle of a forest of paychecks.<br>
My phone is on stoneage as we sit inside a baggy of silence.<br>
I clear my throat and it sounds like a siren.<br>
My reflection in a mirror resembles a werewolf.<br>
I have two large stereo speakers for hands.<br>
I lounge on the couch surrounded by canaries<br>
singing who brought you here and why, but<br>
my ears hear nothing but the puking guns.<br>
The smoothness of that chamber is my secret cathedral;<br>
emerging from daylight's barrel some new man.</p>

