<p>Why be distinct? Be gooped&mdash;
a card-carrying plebeian of untold,
goopiness. Assume no <strong>kneecap</strong> nor
responsibilities, just be gooped
in the clam chowder of cosmic
consciousness. Embrace your divine
right to be gummed in the interstellar
spackle encircling the big blue horrible;
sunbathe <strong>ensconced</strong> between black holes
masquerading as chocolate <strong>pom-poms</strong>. Accept
that you’ve been goopized, that space is
a French onion soup and you’ve cracked
the crust. And like a drop to the commode
you are now one with the curd—the broth.
And when and if, or if and when, someone dips
a spoon in your goop galaxy, embrace
your <strong>ethereal</strong> slurpiness;
bask in the fact that you are now part
of the cosmic goop consciousness and can
attend complementary goop therapy sessions:
but really there’s no need&mdash;because there’s no you.</p>