<p class="pre">
A drive up the coast 
behind the wheel of an awkward silence
doesn’t allow for the
heavy ordinance

nor the charming way the woman
                beside you bites her lips when
                              you speed-shift around those blind curves
                                            singing off-key
                                            
The doctor says it’s 
bad for my thermostat
but I say it isn’t the song so much as
how you sing it

                Pomp & circumstantial evidence
                              racing past the
                                            Department of Planned Obsolescence
                                            
& less than a mile from there it 
all turns to glass
                                            which shatters when you 
hit the high notes

</p>

<h3>PRE-EXISTING CONDITIONS</h3>
<p class="pre">
<em>Love’s Apparition & Evanishment</em>
I thought it was seawater 
			                      dripping into my ear
	        but it was only the ocean fog
				                            tapping at the window

<em>Torquing the Lyric Vibe</em>
Splash of sunrise deep
              purple into razor pink 
                            robbing the shadow of a liquor store
w/a squirt gun
                                            & you were there 
                                                            pretending you weren’t
              as the hinges fell off the 
                                                         door to my heart 

<em>A Date w/Gravity</em>
Sometimes you’re like a balcony I can leap from
other times you’re like a glass of water I’m 
diving into
from an impossible height
</p>