<p>When the DJ Played “Lovefool” on the First Night of Carnival Season in a New Orleans Nightclub, 2018</p>
<p>On the 12th night, we shuffle<br>
under the rotations of a disco ball,<br>
old Halloween decorations,<br>
balloons bobbing on the ceiling<br>
to remind us that the year is only<br>
six days old. I barely survived</p>

<p>the holidays, but the city can be<br>
unforgiving to introverts, pushing us<br>
out of our brick covered shells because<br>
she needs just one more dance.<br> 
Other survivors are with me,<br> 
still thawing out from sleet or the shock<br>
of blinking lights and covers of "Last<br>
Christmas" on repeat. On practiced breathing,</p>

<p>I'm people watching at the bar.<br>  
I’m catching the DJ yawn another song<br>
no one cares for. I’m leaving lipstick stains<br>
on plastic cups just to show my therapist<br>
how much I go outside. And all the while<br>
I'm nodding off in my bed,<br>
an open book tucked under my waist...</p>

<p>until the next DJ wakes us up to<br> 
the most cheerful sad song, reminding<br>
us we're all fools for love.<br>
Some jump out of the corners to celebrate<br>
the past and that it's over; the second half (like me)<br>
find other kids of the 90's, two-step into<br>
epiphany on the dance floor.</p>

<p>Spirits--once depressants--warm us<br>
as we beg them to love and leave us<br>
when we remember we still know the chorus.<br> 
When the night is over, I’ll be ready<br> 
to add another song to the playlist<br> 
of Carnival memories.</p>
