<p>
  We will be the liberators. We will not execute<br>
  anyone, regardless of race, creed, sexual orientation,
</p><p>
  Or current credit score from all three major credit<br>
  rating agencies.  We will fill libraries with mystic rocks
</p><p>
  And mini-bars.  We will insist that all the fathers<br>
  make amends to their daughters. No one will commit
</p><p>
  Suicide. All Mormons will be unbaptized and turned<br>
  into Jews or atheists.  Judges will set everyone free
</p><p>
  But no one will want to be let go. Suffering is loneliness.<br>
  Sorrow grows on bones like moss on a rock.
</p><p>
  You can look it up. Look up at the people<br>
  in the windows looking down on us. Make them take
</p><p>
  A baby aspirin every day. Tell them you mean them no harm.<br>
  Make them fall backwards into your waiting arms.

</p>

<h3>Climage of Change</h3>
<p>
  Peacocks meander through the fertile plain.<br>
  They are a royal pain. Do not try to sit one in your lap.<br>
  It would take a solitary metaphor as red as<br>
  a heart to make those birds depart.
</p><p>
  Beggars beg beneath troubled skies,<br>
  the radio playing oracular sighs of doom.<br>
  If you let them in your room, all is lost.<br>
  It’s a high cost to pay for absolutely nothing.
</p><p>
  Let the cantos and centos gather up mementos<br>
  so no one may forget the ghost of the sea<br>
  coast, now on fire like a burning bush<br>
  of desire. The cash turned all to trash.
</p>

