---
---

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
  font-size: 1.25rem;
}
em {
  font-style: italic;
  font-family: 'mr-eaves-modern', san-serif;
  letter-spacing: 0.02em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* 
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
 */
q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

button[disabled], input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


*, *:after, *:before {
  box-sizing: border-box;
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
}

img, video {
  max-width: 100%;
  height: auto;
}

img:not(a) {
  pointer-events: none;
}
meta {display: block;}
html {
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: 'mr-eaves-modern', san-serif;
  font-size: 18px;
  line-height: 1.52;
  background-color: rgba(255,64,255,0.05); 
  text-rendering: optimizeLegibility;
}
body, a {
  color: #01003b;
}

.container {
  height: 100%;
  min-height:100vh;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  border: 5px solid rgba(255,64,255,0.1);
  /*border-bottom: 10px solid rgba(255,64,255,0.05);*/
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.content-wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.site-header {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  align-items: baseline;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  font-weight: bold;
}
.site-header .logo h1 a {
  display: flex;
  font-family: "matrix-ii", serif;
  text-decoration: none;   
  background-color: #e0e0e0 ;
  border: 10px dashed #fefefe;
  border-radius: 50%;
  font-size: 1.1em;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  line-height: 0.8em;
  color: #01003b;
  padding: 0.3em 0;
}
.site-header .logo h1 a:hover,
.site-header .logo h1 a:focus,
.site-header .logo h1 a:active {
  color: slategray;
  position:relative;top:1px;left:1px;
}
/*.logo {*/
  /*border-left: 2px solid rgba(255, 64, 255, 0.2);
  border-radius: 0 0 10px 0;
}*/
.tagline {
  display: flex;
  font-family: "mr-eaves-modern", san-serif;
  padding-right: 4em;
  font-size: 1.14em;
}
.subscribe a {
  font-family: "mr-eaves-modern", san-serif;
  display: flex;
  align-self: baseline;
  text-decoration: underline;
  font-size: 1.3em;
}

.site-header a {
  color: #01003b;
  text-decoration: none;
}
.site-header a:hover,
.site-header a:focus,
.site-header a:active {
  color: slategray;
  position:relative;top:1px;left:1px;
}
.main {
  display:flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  order: 2;
  color: #01003b;
  border-top: 1px dashed #ddd;
  margin-top: -1em;
}
.content-wrap header {
  color: #01003b;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}
aside h2 a {
  color: #01003b;
  font-family: 'matrix-ii', serif;
  text-decoration: underline;    
}
aside h2 a:hover,
aside h2 a:focus,
aside h2 a:active {
  color: slategray;
     
}
.main figure {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: .5em;
}
.main figure figcaption {
  display: flex;
  justify-content: center;
}
article.poem {
  margin: 0 auto;
}
.main img {
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
  pointer-events: none;
}
.main header,
.main header h3,
.main header h2,
.article header h3 {
  margin-bottom: 0;
}
.main h3 {
  font-size: 1.3em;
  font-family: 'mr-eaves-modern', san-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.prose p {
  max-width: 36em;
}
.prose h3,
.poem h3 {
  margin-bottom: 0;
}
pre,
.prose p,
.poem p {
  margin-top:0;
}

.indent {
  text-indent: 2em;
}
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 0 12em;
 
}
.contributors h2 a {
  padding: 1em;
  line-height: 1.3em;
  font-size: 1.8;
  font-family: 'matrix-ii', serif;
  text-decoration: none;
  text-align: center;
  margin-top: 2em;
  margin-left: -8px;
}

ul.contributors {
  list-style-type: none;
  font-size: 1.2em;
  margin-top: 1em;
  padding-left: 0;
  margin-left: -1em;
}

ul.contributors li {
 /*  margin-left: -8px; */
  padding: .5em 0 0;
}
ul.contributors a {
  color: rgba(1,0,59,0.5);
  text-decoration: none; 
  font-weight: bold;
  padding: .5em;
}
.contributors a:hover,
.contributors a:focus,
.contributors a:active {
  color: #01003b;
  position:relative;top:1px;left:1px;
}
.contributors .selected a {
  color: #01003b;
}
/*********** footer********* */
footer.site-footer {
  display: flex;
  flex-direction: column;
}
.site-footer header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.site-footer .subscribe {
  display: flex;
  order: 3;
  flex-grow: 2;
}
.site-footer .subscribe a {
  text-decoration: underline;
}
footer.site-footer .copy {
  text-align: center;
  padding: 1em;
}
footer h3 {
  display: flex;
  flex-grow: 3;
  padding: 1em;
  order: 2;
  font-size: 1.3em;
}
footer.site-footer header .social {
  display:flex;
  order: 1;
  flex-grow: 2;
}
.social a {
  width: 70px;
  padding: 1em;
}
.footer-nav ul {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  justify-content: space-around;
  flex-basis: 2;
}
.footer-nav li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2em;
  text-transform: lowercase;
}

.footer-nav a {
  color: #01003b;
  text-decoration: none; 
  font-weight: bold;
}
aside h2 a:hover,
aside h2 a:focus,
aside h2 a:active,
.footer-nav a:hover,
.footer-nav a:focus,
.footer-nav a:active {
  color: slategray;
  position:relative;top:1px;left:1px;
}
.bio {
  margin-top: 1em;
  border-top: 1px dashed #ddd;
}
.bio p {
  color: rgba(1,0,59,0.5);
  font-size: 1.1em;
  padding-top: 1em;
  max-width: 36em;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-content: flex-end;
  width: 100%;
  position: relative;
  padding: 0 1em 1em;
  background-color: #fefefe;
  color: #01003b;
}
@media screen and (max-width: 569px) {
  .header__menu svg {
    width: 32px;
    fill: #01003b;
  }
  .tagline { display: none; }
  .side-nav {
    z-index: 10;
    background-color: #fefefe;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */   
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    }
    .side-nav.open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .content-wrap header {
      padding-top: 1em;
    }
    .main {
      flex: 1 0 100%;
    }
    aside {
      flex: 0 0 .1px;
    }
  }
  @media screen and (max-width: 320px) {
    footer .social {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 570px) {
    .site-header {
      margin-bottom: -2em;
    }
    .side-nav {
      margin-left: -34px;
    }
    ul.contributors {
      overflow-y: auto;
    }
  }
  @media screen and (min-width: 889px) {
    .side-nav {
      margin-left: -28px;
    }
    footer.site-footer header .social {
      display:flex;
      order: 1;
      flex-grow: 5;
      padding-left: 2.5em;
    }
  }