<!DOCTYPE html>
<html class="no-js" lang="EN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LiveMag!15 | {{page.artist}}</title>
    <meta name="description" content=" {{page.art}} by {{page.artist}} in LiVe MAG! Issue No.15.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='../../apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
    <link href='../../apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
    <link href='../../apple-touch-icon.png' rel='apple-touch-icon'>
    <link href='../../favicon.ico' rel='icon' type='image/ico'>
    <meta property="og:url" content="http://livemag.org{{page.url}}" />
    <meta property="og:title" content="LiveMag15! | {{page.artist}}" />
    <meta property="og:description" content="{{page.art}} by {{page.artist}} in LiVE MAG! Issue No.15"/>
    <meta property="og:image" content="http://livemag.org/images/{{page.image}}"/>
    <!-- <meta property="og:image:width" content="">
    <meta property="og:image:height" content=""> -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LiveMagNYC">
    <meta name="twitter:title" content="LiveMag15! | {{page.artist}}">
    <meta name="twitter:description" content="{{page.art}} by {{page.artist}} in LiVE MAG! Issue No.15.">
    <meta name="twitter:image" content="http://livemag.org/images/no15/{{page.image}}">
    <meta name="robots" content="index, follow">
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.typekit.net/psl2mid.css">
    <link rel="stylesheet" href="../../stylesheets/styles15.css">
  </head>
  <body>
    <div class="container"> 
      {% include header.html %}
      <div class="content-wrap">
        <aside>
          {% include contributors.html %}
        </aside>
        <section class="main">
          <header>          
            <h2>{{page.artist}}</h2>
          </header>
          {% if page.art == "Art" %}
          <figure>
            <img src="../../images/no15/{{page.image}}" alt=""><figcaption>{{page.title}}</figcaption> 
          </figure>
          {% elsif page.art == "Poetry" %}
          <article class="poem"></article>
            <h3>{{page.title}}</h3>
          {% elsif page.art == "Prose" %}
          <article class="prose"></article>
            <h3>{{page.title}}</h3>
          {% endif %}
          <article class="prose bio">
            <p>
              {{page.bio}}
            </p>
          </article>
        </section><!-- end main -->
      </div><!-- end content-wrap -->
{% include footer.html %}
    </div><!-- end container -->
    <script>
       /* Open the drawer when the menu ison is clicked.*/
      var menu = document.querySelector('#menu');
      var main = document.querySelector('.content-wrap');
      var drawer = document.querySelector('.side-nav');

      menu.addEventListener('click', function(e) {
        drawer.classList.toggle('open');
        e.stopPropagation();
      });
      main.addEventListener('click', function() {
        drawer.classList.remove('open');
      });
    </script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-49721284-2');ga('send','pageview');
    </script>
  </body>
</html>
